@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

/* Hero Section */

*{
    margin: 0;
    padding: 0;
}
#hero {

    height: 919px;
    width: 1920px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),
     url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
}

.hero-content {
position: absolute;
width: 1023px;
height: 391px;
margin: 300px 449px 264px 448px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 32;
padding: 0px;

}

.paragraph-01{
/* Savor the Flavors */
position: static;
width: 274px;
height: 38px;
opacity: 0.8;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;
color: rgb(255, 255, 255);
font-size: 32px;
text-align: center;
}
.paragraph-02{
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;


}
.header-01{

    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
}
.button-01{

    margin-top: 20px ;
    width: 282px;
height: 65px;
padding: 21px 32px 21px 32px;
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgb(82, 195, 3);
border: 0;
    
}

/* Card Box Part */

.card-box{

    margin: 0px 300px 0px 300px;
}

.card{
display: flex;
gap: 25px;
position: static;
width: 424px;
height: 522px;
margin-bottom: 70px;

}

.title{
position: static;
width: 691px;
height: 172px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16;
padding: 100px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 300px 0px 200px;
}

.para{

    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}

.head-01{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
margin-top: 16px;
}

.image-01{

    border-radius: 16px;
    /* Rectangle 1 */
position: static;
width: 424px;
height: 283px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin-top: 39px;
}

.paragraph-03{

    margin-top: 30px;
    margin-bottom: 25px;
    border-radius: 8px;
    margin-left: 100px;

background: rgba(82, 195, 3, 0.15);
/* Frame 9 */
position: static;
width: 187px;
height: 56px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 14px 32px 14px 32px;
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}

.header-02{

    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 40px;
font-weight: 500;
line-height: 47px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 25px;
}


.paragraph-05{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}

.button-02{

    border-radius: 8px;
background: rgb(82, 195, 3);
position: static;
width: 212px;
height: 65px;
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
margin: 75px 555px 0px 555px;
border: 0px;
}

/* About Us */
#about-us{

width: 1920px;
height: 671px;  

}

.about{

    margin-top: 30px;
    display: flex;
    gap: 90px;

}
.about-div{

    margin-top: 130px;
}

.paragraph-06{

    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
width: 805px;
height: 128px;
}

.paragraph-07{

    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
opacity: 0.6;
width: 556px;
height: 28px;
gap: 24;
padding: 30px;
margin: 120px;
margin-top: 0px;
margin-bottom: 20px;
}

.paragraph-08{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
/* padding: 20px 10px 30px 10px;
margin: 0px 10px; */
}


.image-08{

    width: 14.72px;
height: 31.39px;
padding-left: 50%;


}